/*** Colors ***/

@body-bgcolor: #eee;
@main-textcolor: #bbb;
@light-black: #333;
@down-button-color: yellow;

/*** Variables ***/

@xs-layout: ~"(max-width: 767px)"; // Extra small devices (phones, less than 768px)
@lg-layout: ~"(min-width: 1025px)";
@carousel-image-width: 275px;
@carousel-image-height: 200px;
@no-touchscreen: ~"(pointer: fine)";

/*** Mixins ***/

.xs-layout {
    margin: 10px 0px;   
        p {
            padding: 10px 5px;
        }
}

.content {
    margin: 120px 40px;
    img {
        margin: 0 auto;
    }
}

.content-h1 {
    font-size: 44px;
    text-align: center;
}

.content-p {
    font-size: 18px;
    padding: 20px 50px;
}

/*** Main ***/

body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    background-color: @body-bgcolor;
}

.navbar {
    margin-bottom: 0px;
    padding: 20px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

@media (max-width: 430px) {
    .navbar-header {
        position: relative;
    }
    .navbar {
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 60%;
        }
    }
}

.navbar-inverse {
    .navbar-nav > li > a {
    color: navbar-textcolor;
    }
}

.cbp-af-header-shrink {
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0.9;      
}

.fill-screen {
    background-size: cover;
    background-position: center;
}

.title-row {
    position: relative;
    min-height: 200px;
}

.title-logo {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.down-button {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    i {
        color: @down-button-color;
    }
}

.fixed-attachment {
    background-attachment: fixed;
}

@media (max-width: 1024px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
}

#club {
    .content;
    h1 {
        .content-h1;
    }
    p {
        .content-p;
    }
}

@media @xs-layout {
    .club-collapse {
        display: none;
    }
}

#read-more {
    font-size: small;
}

@media @xs-layout {
    #club {
        .xs-layout;
    }
}

#vorstand {
    .content;
    h1 {
       .content-h1;
        margin-bottom: 50px; 
    }
    p {
        .content-p;
    }
}

@media @xs-layout {
    #vorstand {
        .xs-layout;
    }    
}


.image-carousel-wrapper {
    display: none;
    width: 100%;
    margin-bottom: 100px;
}

// show image-carousel only on on screen if it is not touchsreen and large width
//@media @no-touchscreen and @lg-layout {
//    .image-carousel-wrapper {
//        display: block;       
//    } 
//}

.image-carousel {
    width: 3 * @carousel-image-width;
    margin: 0 auto;
	overflow: hidden;
    div {	
        float: left;
        width: @carousel-image-width; 
        height: @carousel-image-height;
    }
    span {
        float: left;
        width: 100%;
        height: 100%;
        padding: 40px 30px 0 30px;
        background-color: @light-black;
        color: @main-textcolor;		
    }
}

.item {
    background-color: @light-black; 
    padding-top: 30px;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.vorstand-wrapper {
    display: none;
    img {
        margin: 0 auto;
    }
    p {
        margin-bottom: 100px;
    }
}

/*@media not all and @lg-layout {
    .vorstand-wrapper {
        display: block;       
    } 
}*/


#events {
    .content;
    h1 {
       .content-h1;
        margin-bottom: 50px; 
    }
    p {
        .content-p;
    }
}

@media @xs-layout {
    #events {
        .xs-layout;
    }
}

#gallery {
    .content;
    h1 {
       .content-h1;
        margin-bottom: 50px; 
    }
    p {
        .content-p;
    }
}

@media @xs-layout {
    #gallery {
        .xs-layout;
    }
}

#contact-us {    
    .content;
    text-align: center;
    margin-bottom: 0;
    h1 {
       .content-h1;
    }
    p {
        .content-p;
    }  
    .we-want-you {      
        position: relative;
        top: -100px;    
    }
}
 

@media @xs-layout {
    #contact-us {
        .xs-layout;
        .we-want-you {
            position: static;
        }
    }

}

footer {
    background-color: @light-black;
    color: @main-textcolor;
    padding: 20px;
    text-align: center;
}

.social-buttons {
    margin-bottom: 30px;
}
