body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    background-color: #EEE;
}

.navbar {
    margin-bottom: 0px;
    padding: 20px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

@media (max-width: 430px) {
    .navbar-header {
        position: relative;
    }
    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 70%;
    }
}

.navbar-inverse .navbar-nav > li > a {
    color: #bbb;
}

.cbp-af-header-shrink {
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0.9;      
}

.fill-screen {
    background-size: cover;
    background-position: center;
}

.title-row {
    position: relative;
    min-height: 300px;
}

.title-logo {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

/* TODO: delete this */
.content-filler {
    min-height: 350px;
}

.down-button {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.down-button i {
    color: yellow;
}

.fixed-attachment {
    background-attachment: fixed;
}
@media (max-width: 1024px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
}

.club-content {
    margin: 40px 40px;
}

.club-content h1 {
    font-size: 44px;
    text-align: center;
}

.club-content p {
    font-size: 18px;
    padding: 20px 50px;
}

.contact-us {
    margin: 50px;
    text-align: center;
}

@media (max-width: 430px) {
    .club-content {
        margin: 10px 0px;
    }
    
    .club-content p {
    padding: 10px 10px;
}
}

footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}